Import pandas and numpy packages

In [72]:
import pandas as pd
import numpy as np

use pandas to read all tables in html

In [73]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=None)

select the first table

In [74]:
df=df[0]

convert table to dataframe
select rows where Borough not equal to 'Not assigned'
show top 5 rows

In [75]:
df = pd.DataFrame(df)
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

group data with same value in 'Postcode', join all the values in same group under 'Neighbourhood' column 
replace 'Not assigned' value in 'Neighbourhood' column with the value in 'Borough' column in same row

In [97]:
new_df = df.groupby(['Postcode', 'Borough']).agg({'Neighbourhood':lambda x:', '.join(x)}).reset_index()

 
new_df.loc[new_df['Neighbourhood']=="Not assigned",'Neighbourhood']=new_df.loc[new_df['Neighbourhood']=="Not assigned",'Borough']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

Check total number of rows and columns

In [100]:
new_df.shape

(103, 3)